<h2>About Adam</h2>

<img id="bioImage" src="assets/images/adamfamily.jpg">

<p id="bioText">Adam is a Full Stack Web Developer and learned coding while working hard through the University
    of Utah Coding Bootcamp for Full Stack Web Development in the fall of 2018. He currently works as a freelance
    developer. He lives with his partner, Jessica, their two dogs, Sam and Alice, and their two
    cats, Bebop and Spook. <br><br>

    Adam is a native Utahn and spends his free time reading, playing video games, hiking, enjoying vegan
    cuisine, making playlists, volunteering at a local animal sanctuary, and has a love of movies from working at a
    theatre for
    many years.<br><br>

    Adam resides in West Jordan, Utah. <br><br>

    Hire him today!

</p>